[workspace]
channels = ["conda-forge"]
name = "QuantizedBiasBenchmark"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]

[dependencies]
python = "==3.11"
cuda-version = "12.*"
transformers = ">=4.51.0,<4.54.0"
accelerate = ">0.34.2"
scikit-learn = ">=1.5.2"
statsmodels = ">=0.14.4"
fire = ">=0.7.0"
auto_gptq = ">=0.7.1,<0.8"
autoawq = ">=0.2.9,<0.3"
optimum = ">=1.27.0,<2"

[system-requirements]
cuda = "12.0"

[pypi-dependencies]
huggingface-hub = "*"
mistral-common = ">=1.4.4"
intel-extension-for-pytorch = ">=2.8.0, <3"

[feature.ct.dependencies]
compressed-tensors = ">=0.11.0"

[feature.vllm.dependencies]
vllm = ">=0.6.2"
compressed-tensors = ">=0.9.2"

[environments]
ct = { features = ["ct"], no-default-feature = false }
vllm = { features = ["vllm"], no-default-feature = false }
