[workspace]
channels = ["conda-forge"]
name = "QuantizedBiasBenchmark"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]

[dependencies]
python = "==3.11"
pytorch = "==2.6.0"
transformers = ">=4.51.0,<4.54.0"
scikit-learn = ">=1.5.2"
statsmodels = ">=0.14.4"
fire = ">=0.7.0"
mistral-common = ">=1.4.4"
seaborn = ">=0.13.2,<0.14"
rouge-score = ">=0.1.2,<0.2"
fairlearn = ">=0.12.0,<0.13"
openai = ">=1.108.1,<2"
tenacity = ">=9.1.2,<10"
tabulate = ">=0.9.0,<0.10"

[pypi-dependencies]
huggingface-hub = "*"
arch = ">=7.2.0, <8"

[feature.ct.dependencies]
compressed-tensors = ">=0.11.0"

[feature.vllm.dependencies]
vllm = ">=0.6.2"
compressed-tensors = ">=0.9.2"

[feature.quant.dependencies]
accelerate = ">0.34.2"
auto_gptq = ">=0.7.1,<0.8"
autoawq = ">=0.2.9,<0.3"
optimum = ">=1.27.0,<2"

[feature.cuda.dependencies]
cuda-version = "12.*"

[feature.cuda.system-requirements]
cuda = "12.0"

[environments]
ct = { features = ["ct", "quant"], no-default-feature = false }
vllm = { features = ["vllm", "quant", "cuda"], no-default-feature = false }
